<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="LOG_DIR" source="log.dir" />
    <contextName>${APP_NAME}</contextName>

    <property name="PATTERN" value="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{80}[%line] - %msg%n" />

    <springProfile name="dev,uat,prd">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="uat">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/app_console_%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>180</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
    <springProfile name="prd">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/app_console_%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>180</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>